<div class="container">
  <div class="user-details">
    <h3> Research Experiences </h3>
  </div>
  <!--<div class="text" style=" text-align:center;">
  <p>I've learned my own <a target="_blank" href="https://www.nature.com/articles/426389a">golden lessons</a> by participanting in undergraduate research projects. After some struggle in the initial stage, I realized that instead of knowing everything before start, I must learn by doing. Otherwise, I will never start my own research. This is the first big thing I've learned. Then, as I benefited a lot from intensive discussions when I was in <a target="_blank" href="http://www.physicsandastronomy.pitt.edu/pittpacc">PITT PACC</a> as a visiting student, I greatly value discussion opportunities with others. From these experiences, I also realize that I'm still far from being a mature reseacher. </p>
  </div>-->
  <div class="row user-projects">
    <div class="ten columns">
      <h5> Non-Abelian Tensor Gauge Field </h5>
      <li> Supervisor: Yeuk-Kwan Edna Cheung, Jul 2016 - Apr 2017</li>
      <p>I took part in the discussion in Prof. Edna Cheung's group and began to learn QFT by discussing with other group members everyday since the summer of 2016. As the project went forward, we found that scattering amplitudes calculated by Feynman rule and spinor helicity formalism are not consistent. In order to figure out this problem, I've read some literature about BCFW recursion formula and understood some textbook level calculation.</p>
      <img alt="bcfw" src="{{ "/assets/img/bcfw.png" | prepend: site.baseurl }}" />
      <!--<a class="project-link" href="#">Notes</a>-->
    </div>
    <!--<div align="left" class="ten columns images">
      <img alt="bcfw" src="{{ "/assets/img/bcfw.png" | prepend: site.baseurl }}" />
    </div>-->
  </div>
  <div class="row user-projects">
    <div class="ten columns">
      <h5> Identifying Non-relativistic Dark Matter Models in Direct Detection with Machine Learing Method </h5>
      <ul>
        <li> Supervisor: Zuowei Liu, August 2017 - Now</li>
      </ul>
      <p>Advised by Prof. Zuowei Liu, I did some basic calculation about direct detection of dark matter, such as event rate taking account of annual modulation, Chi square scan. See my codes below about the details and results of my calculation. Then I read a paper analysing the possibility of distinguishing different dark matter models(<a target="_blank" href="https://arxiv.org/abs/1612.07808">arXiv: 1612.07808</a>) if we hava direct detection experiment data. Meanwhile, I was auditing a machine learning (ML) course at Nanjing University, so the idea of using ML to classify physics models from large data interested me naturally. Then I studied non-relativistic effective theory of dark matter detection ((<a target="_blank" href="https://arxiv.org/abs/1008.1591">arxiv:1008.1591</a>) in order to understand the models we want to differentiate in direct detection. Currently, I am simulating direct detection data based on different non-relativistic dark matter models.</p>
      <a class="project-link" target="_blank" href="/assets/file/EventRate.nb">Codes</a>
    </div>
  </div>
  <div class="row user-projects">
    <div class="six columns images">
      <img alt="collider" src="{{ "/assets/img/collider.jpeg" | prepend: site.baseurl }}" />
    </div>
    <div class="six columns">
      <h5> Minimal Dark Matter </h5>
      <li> Supervisor: <a target="_blank" href="http://www.pitt.edu/~than/">Tao Han</a>, Jul 2017 - Oct 2017</li>
      <p>I visted <a target="_blank" href="http://www.physicsandastronomy.pitt.edu/pittpacc">PITT PACC</a> last summer and spent a wonderful time in the beautiful city of Pittsburgh with friends there. Generally, I participated in the n-plet DM signal on collider project after solving several warm-up questions Tao provided. In technical aspect, I've learned how to use Linux system and HEP packages such as MadGraph, Feynrules. Please see my summary notes below to know more about what I have done in PITT.</p>
      <a class="project-link" target="_blank" href="/assets/file/Summary-Heyang.pdf">Notes</a>
    </div>
  </div>
  <div class="row user-projects">
    <div class="four columns">
      <img alt="balloon" src="{{ "/assets/img/balloon.png" | prepend: site.baseurl }}" />
    </div>
    <div class="eight columns">
      <h5> Two Balloons </h5>
      <ul>
        <li> Supervisor: Sihui Wang, Apr 2015 - Jan 2016</li>
      </ul>
      <p>I joined the NJU Young Physicst Tournament(NYPT) when I was a freshman and researched a problem about two balloons: when you connect two ballons of different sizes, the direction of air flowing depends on many factors. I did lots of experiments in this project and derived my theory using continuum mechanics and thermodynamics to explain these phenomena. This project also enhanced my manuscript writing skills. My solution article is included in <a target="_balnk" href="http://www.worldscientific.com/worldscibooks/10.1142/10596">Internantional Young Physicists’ Tournament Prblems & Solutions 2014-2015</a>. Click the button below to look at my article.</p>
      <a class="project-link" target="_blank" href="/assets/file/Two Balloons.pdf">Article</a>
    </div>
  </div>

</div>
