
<div class="container">
  <div class="user-details">
    <h3> Publication </h3>
  </div>
  <div class="text" style=" text-align:left;">
    <p> <a class="link" href="https://arxiv.org/abs/2209.07019">Probing Large Scale Ionizing Background Fluctuation with Lyman α Forest and Galaxy Cross-correlation at z=2.4</a>, <b>Heyang Long</b>, and Christopher M. Hirata. Submitted to MNRAS </p>
    <p> <a class="link" href="https://arxiv.org/abs/2107.07615" >Streaming Velocity Effects on the Post-reionization 21 cm Baryon Acoustic Oscillation Signal</a>, <b>Heyang Long</b>, Jahmour J. Givans, Christopher M. Hirata. MNRAS, 513, 1, 117 -128 (2022) </p>

    <p>  <a class="link" href="https://arxiv.org/abs/1912.09481" > A Synthetic Roman Space Telescope High-Latitude Imaging Survey: Simulation Suite and the Impact of Wavefront Errors on Weak Gravitational Lensing</a>, M.A. Troxel, <b>H. Long</b>, C.M. Hirata, A. Choi, M. Jarvis et al., Mon.Not.Roy.Astron.Soc. 501 (2021) 2, 2044-2070</p>

    <p> <a class="link" href="https://arxiv.org/abs/2203.08845">Weak Gravitational Lensing Shear Estimation with Metacalibration for the Roman High-Latitude Imaging Survey.</a> Yamamoto, Masaya, et al. (inc. <b>Long, Heyang</b>) Accepted by MNRAS </p>

    <p> <a class="link" href="https://arxiv.org/abs/2204.13553">A Synthetic Roman Space Telescope High-Latitude Time-Domain Survey: Supernovae in the Deep Field" </a> Wang, Kevin X., et al. (inc. <b>Long, Heyang</b>) Submitted to MNRAS </p>

  </div>
</div>

<!--
<div class="container">
  <div class="user-details">
    <h3> Publication </h3>
  </div>
  <div class="text" style=" text-align:left;">
    <p> Heyang Long, Luyan Yu, Ruyang Sun, Huijun Zhou, Sihui Wang, Two Balloons, <a class="link" href="http://www.worldscientific.com/worldscibooks/10.1142/10596" >Internantional Young Physicists’ Tournament Prblems & Solutions 2014-2015</a></p>
    <p> He-Yang Long et al. Importance and construction of features in identifyingnew physics signals with deep learning, Submitted for Publication,  <a class="link" href="https://arxiv.org/abs/1712.03806" >arxiv: 1712.03806</a></p>
  </div>
</div>
-->
