
<div class="container">
  <div class="user-details">
    <h3> Publication </h3>
  </div>
  <div class="text" style=" text-align:left;">
    <p> <b>Heyang Long</b>, Jahmour J. Givans, Christopher M. Hirata, <a class="link" href="https://arxiv.org/abs/2107.07615" >Streaming Velocity Effects on the Post-reionization 21 cm Baryon Acoustic Oscillation Signal</a>, Submitted to MNRAS </p>
    <p> M.A. Troxel, <b>H. Long</b>, C.M. Hirata, A. Choi, M. Jarvis et al., <a class="link" href="https://arxiv.org/abs/2107.07615" > A Synthetic Roman Space Telescope High-Latitude Imaging Survey: Simulation Suite and the Impact of Wavefront Errors on Weak Gravitational Lensing</a>, Mon.Not.Roy.Astron.Soc. 501 (2021) 2, 2044-2070</p>
    <p> <b>Heyang Long</b>, Luyan Yu, Ruyang Sun, Huijun Zhou, Sihui Wang, Two Balloons, <a class="link" href="http://www.worldscientific.com/worldscibooks/10.1142/10596" >Internantional Young Physicists’ Tournament Prblems & Solutions 2014-2015</a></p>
  </div>
</div>

<!--
<div class="container">
  <div class="user-details">
    <h3> Publication </h3>
  </div>
  <div class="text" style=" text-align:left;">
    <p> Heyang Long, Luyan Yu, Ruyang Sun, Huijun Zhou, Sihui Wang, Two Balloons, <a class="link" href="http://www.worldscientific.com/worldscibooks/10.1142/10596" >Internantional Young Physicists’ Tournament Prblems & Solutions 2014-2015</a></p>
    <p> He-Yang Long et al. Importance and construction of features in identifyingnew physics signals with deep learning, Submitted for Publication,  <a class="link" href="https://arxiv.org/abs/1712.03806" >arxiv: 1712.03806</a></p>
  </div>
</div>
-->
